input {
   margin: 0 0.3em 0.3em 0.3em;
}

h1 {
  background-color: deepskyblue;
  border-bottom: 10px solid cornflowerblue;
  padding: 0.2em 0;
  margin-top: 0;

  color: white;
}

h1 span:last-child {
  color: midnightblue;
}

body {
  padding: 1em 0 3em 0;
}

html {
  height: 100%;
  background-color: whitesmoke;
}
